[Unit]
Description=Niri with Codex background control
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
Wants=xdg-desktop-autostart.target
Before=xdg-desktop-autostart.target
[Service]
Slice=session.slice
Type=notify
CoredumpFilter=default private-file-backed
ExecStart=/usr/lib/niri-codex-computer-use/bin/niri --session
